<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="dialect">
      NHibernate.Dialect.MsSql2012Dialect, NHibernate
    </property>
    <property name="connection.connection_string">
      Data Source=WIN-9HAFEE71N1M\SQLEXPRESS;
      <!--WIN-9HAFEE71N1M\SQLEXPRESS;-->
      <!--WIN-M0M11N9GCQJ\SQLEXPRESS-->
      Initial Catalog=Eictronic_V1_1;
      Integrated Security=False;
      Persist Security Info=True;
      User ID=Boden;
      Password=SQLServerxxX1Y2Z3
    </property>
    <!--<property name="adonet.batch_size">
      100
    </property>-->
    <property name="show_sql">true</property>
    <mapping assembly="DynamicPDFCreator" />
  </session-factory>
</hibernate-configuration>